parameters:
    paths:
        - app
        - bootstrap
        - config
        - database
        - routes
        - tests
    # The level 8 is the highest level
    level: 8
    excludePaths:
        - ./routes/console.php
    checkMissingIterableValueType: false
