parameters:
	ignoreErrors:
		-
			message: "#^PHPDoc tag @var above a method has no effect\\.$#"
			count: 1
			path: app/Providers/RouteServiceProvider.php

		-
			message: "#^PHPDoc tag @var does not specify variable name\\.$#"
			count: 1
			path: app/Providers/RouteServiceProvider.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 1
			path: routes/console.php

